.select2-selection__choice__display {
    /* co the dung !important */
    background-color: #171616;   
}

#displayImg Img {
    width: 50%;
    height: 150px;
    object-fit: cover;
}

#displayImgDetails Img {
    width: 30%;
    height: 130px;
    object-fit: cover;
}