.image_detail_product {
    width: 100%;
    height: 130px;
    object-fit: cover;
}
.container_image_product {
    margin-top: 20px;
}

.feature_image {
    width: 100%;
    height: 130px;
    object-fit: cover; 
}
.container_feature_image {
    margin-top: 20px;
}
